.archive {
    width: 700px;
    margin: 96px auto 96px;
    /* border-top: 1px solid #e3e3e3; */
}

.archive-inner {
    position: relative;
    margin-left: 80px;
}

.archive-inner::before {
    content: "";
    position: absolute;
    left: -32px;
    width: 4px;
    height: 100%;
    background-color: #e3e3e3;
}

.archive-inner h1 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.archive-inner > span {
    font-weight: bold;
    color: #888;
}

.title {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    border-bottom: 1px dotted #555;
    color: #555;
}

.title:hover {
    border-bottom: 1px solid #444;
}

.title::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -34px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #999;
}

.title:hover::before {
    background-color: #444;
}

.time {
    margin-right: 48px;
    font-size: 12px;
}

.paging {
    width: 600px;
    margin: 96px auto 0;
    text-align: center;
}

.paging-inner {
    border-top: 1px solid #e3e3e3;
}

.paging-inner li {
    display: inline-block;
    width: 30px;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
    text-align: center;
}

.paging-inner a {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 30px;
    height: 40px;
    border-top: 1px solid #e3e3e3;
    color: #555;
    transition: border-top 0.2s linear;
}

.paging-inner a:hover {
    border-top: 1px solid #555;
}

.paging-inner .currentPage {
    pointer-events: none;
    background-color: #e3e3e3;
    color: #888;
}