body {
    background: #fff;
}

.archive {
    width: 700px;
    margin: 64px auto 96px;
    padding-bottom: 164px;
    /* border-top: 1px solid #e3e3e3; */
}

.count {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    color: #000;
}

.archive-inner {
    position: relative;
    margin-left: 80px;
}

.archive-inner::before {
    content: "";
    position: absolute;
    left: -32px;
    width: 4px;
    height: 100%;
    background-color: #e3e3e3;
}

.archive-inner h1 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.archive-inner > span {
    font-weight: bold;
    color: #888;
}

.archive-mes {
    display: inline-block;
    max-width: 600px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    position: relative;
    display: inline-block;
    height: 28px;
    /* max-width: 600px; */
    margin: 10px 0;
    border-bottom: 1px dotted #555;
    color: #555;
}

.title:hover {
    border-bottom: 1px solid #444;
}

.title::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -34px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #999;
    /* z-index: 999; */
}

.title:hover::before {
    background-color: #444;
}

.time {
    margin-right: 48px;
    font-size: 12px;
}