.article {
    width: 790px;
    margin: 0 auto;
    padding-bottom: 96px;
}

.article-inner {
    width: 700px;
    min-height: 478px;
    padding: 45px;
    border-radius: 10px;
    background-color: #fff;
}

.article-topic {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.article-message {
    margin-bottom: 48px;
    text-align: center;
    color: #888;
}

.article-content {
    position: relative;
    padding: 10px 0 0 0 !important;
}

/* .article-content::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 700px;
    height: 2px;
    background-color: #e3e3e3;
    z-index: 999;
} */

.time {
    margin-right: 10px;
}

.Class a {
    border-bottom: 1px dotted #888;
    color: #888;
}

.Class a:hover {
    border-bottom: 1px dotted #555;
    color: #555;
}

.revise-date {
    margin-left: 10px;
}

.tag-nav {
    margin-top: 10px;
}

.article-message .tag {
    position: relative;
    display: inline-block;
    padding: 2px 5px 2px 8px;
    margin: 5px 10px 5px 15px;
    border: 1px solid #e3e3e3;
    border-left-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #888;
}

.article-message .tag:hover {
    border-color: #555;
    border-left-color: transparent;
    color: #555;
}

.tag::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -9px;
    width: 15px;
    height: 15px;
    border: 1px solid #e3e3e3;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
}

.tag:hover::before {
    border-color: #555;
    border-top-color: transparent;
    border-right-color: transparent;
}

.tag::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 7px;
    left: -4px;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
}

.tag:hover::after {
    border-color: #555;
}