body {
    background: #fff;
}

.classify {
    width: 600px;
    margin: 64px auto;
    padding-bottom: 164px;
    /* border-radius: 10px; */
    /* background-color: #fff; */
}

.count {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    color: #000;
}

.entry {
    display: inline-block;
    margin-bottom: 6px;
    border-bottom: 1px dotted #555;
    color: #555;
}

.entry:hover {
    border-bottom: 1px solid #444;
}