.main {
    width: 1420px;
    margin: 48px auto 96px;
    padding-bottom: 164px;
    /* background-color: #fff; */
}

.search {
    position: relative;
    width: 700px;
    margin: 0 auto 48px;
    text-align: center;
}

.search-input {
    width: 500px;
    height: 24px;
    /* margin-right: 20px; */
    padding: 5px 70px 5px 15px;
    border: 1px solid #e3e3e3;
    color: #999;
    line-height: 24px;
}

.search-btn {
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 53px;
    width: 70px;
    height: 38px;
    background-color: #e3e3e3;
    text-align: center;
    line-height: 38px;
}

.search-input:hover, .search-input:focus {
    border: 1px solid #555;
    color: #555;
}

.article-nav {
    float: left;
    width: 700px;
    margin-left: 262px;
    padding-top: 32px;
    padding-right: 10px;
    padding-bottom: 32px;
    border-radius: 10px;
    background-color: #fff;
}

.article-nav-inner {
    position: relative;
    margin-left: 64px;
    margin-bottom: 32px;
    padding: 18px 36px;
}

.article-nav-inner::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: -5px;
    width: 600px;
    height: 1px;
    background-color: #e3e3e3;
}

/* .article-nav-inner:hover {
    border: 1px solid #555;
    box-shadow: 3px 3px 6px -2px #888;
} */

.topic {
    position: relative;
    display: inline-block;
    max-width: 550px;
    height: 41.6px;
    /* margin-bottom: 12px; */
    line-height: 1.5em;
    color: #555;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-nav-mes {
    margin-bottom: 12px;
}

.time {
    display: inline-block;
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}

.class {
    display: inline-block;
    color: #999;
    font-size: 12px;
}

.class a {
    border-bottom: 1px dotted #999;
}

.class a:hover {
    border-bottom: 1px solid #555;
}

.topic::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #555;
    transition: all 0.1s linear;
}

.topic:hover::after {
    width: 100%;
}

.article-nav-content{
    max-height: 200px;
    margin-bottom: 48px;
    padding: 20px 0 !important;
    overflow: hidden;
}

.markdown-body, editormd-html-preview {
    overflow: hidden !important;
}

.more {
    padding-bottom: 5px;
    border-bottom: 1px dotted #777;
    color: #777;
}

.more:hover {
    border-bottom: 1px solid #555;
    color: #555;
}

.message {
    float: right;
    width: 256px;
    margin-right: 36px;
    padding: 32px;
    border-radius: 10px;
    background-color: #fff;
    line-height: 1.5;
    text-align: center;
}

.head-image {
    width: 100px;
    height: 100px;
    margin-top: 16px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 8px 5px 8px #e3e3e3;
}

.name {
    margin: 20px;
}

.intro {
    margin: 48px 0;
    /* word-wrap: break-word; */
    word-break: break-word;
}

.link a, .link span {
    margin: 0 5px;
    color: #555;
    font-size: 16px;
}

.content {
    /* margin-bottom: 96px; */
    overflow: hidden;
}