.main {
    width: 1420px;
    margin: 96px auto 96px;
    /* border-top: 1px solid #e3e3e3; */
}

.article-nav {
    float: left;
    width: 800px;
    margin-left: 192px;
    /* border-top: 1px solid gray; */
}

.article-nav-inner {
    margin-left: 100px;
    margin-bottom: 64px;
    padding: 18px 36px;
}

/* .article-nav-inner:hover {
    border: 1px solid #555;
    box-shadow: 3px 3px 6px -2px #888;
} */

.topic {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    line-height: 1.5em;
    color: #555;
    word-wrap: break-word;
}

.topic::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #555;
    transition: all 0.1s linear;
}

.topic:hover::after {
    width: 100%;
}

.article-nav-content{
    margin-bottom: 24px;
}

.more {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    color: #777;
}

.more:hover{
    border-bottom: 1px solid #555;
    color: #555;
}

.message {
    float: right;
    width: 256px;
    height: 256px;
    margin-right: 64px;
    padding: 32px;
    border: 1px solid black;
    line-height: 1.5;
    text-align: center;
}

.head-image {
    width: 56px;
    height: 56px;
    margin-top: 16px;
    border: 1px solid black;
}

.intro {
    margin: 48px 0;
    /* word-wrap: break-word; */
    word-break: break-word;
}

.link a {
    margin: 0 5px;
    color: #555;
}

.content {
    /* margin-bottom: 96px; */
    overflow: hidden;
}

.paging {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.paging-inner {
    border-top: 1px solid #e3e3e3;
}

.paging-inner li {
    display: inline-block;
    width: 30px;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
    text-align: center;
}

.paging-inner a {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 30px;
    height: 40px;
    border-top: 1px solid #e3e3e3;
    color: #555;
    transition: border-top 0.2s linear;
}

.paging-inner a:hover {
    border-top: 1px solid #555;
}

.paging-inner .currentPage {
    pointer-events: none;
    background-color: #e3e3e3;
    color: #888;
}