.main {
    width: 1420px;
    margin: 96px auto 96px;
    /* border-top: 1px solid #e3e3e3; */
}

.article-nav {
    float: left;
    width: 800px;
    margin-left: 192px;
    /* border-top: 1px solid gray; */
}

.article-nav-inner {
    margin-left: 192px;
    margin-bottom: 64px;
    padding: 36px;
}

.article-nav-inner:hover {
    border: 1px solid #555;
    box-shadow: 3px 3px 6px -2px #888;
}

.more {
    border-bottom: 1px solid #555;
}

.message {
    float: right;
    width: 256px;
    margin-left: 96px;
    padding: 16px;
    /* border-top: 1px solid black; */
}

.content {
    margin-bottom: 96px;
    overflow: hidden;
}

.paging {
    width: 220px;
    margin: 0 auto;
    text-align: center;
}

.paging-inner li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: #e3e3e3;
    line-height: 30px;
    text-align: center;
}