{{ extend './layout.html' }}

{{ block 'head' }}
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/public.css">
<link rel="stylesheet" href="/css/archive.css">
<link rel="stylesheet" href="/css/page.css">
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/js/page.js"></script>
{{ /block }}

{{ block 'content' }}
<div class="archive">
    <p class="count">共计 {{ count }} 篇文章</p>
    <div class="archive-inner">
        {{ if type == 'archive' }}
        {{ each year t }}
        <h1>{{ t.years }}</h1>
        <ul>
            {{ each archive mes }}
            {{ if mes.article_date.slice(0,4) == t.years }}
            <li>
                <p class="title"><a href="/article/{{ mes.article_id }}" class="archive-mes"><span class="time">{{ mes.article_date }}</span>{{ mes.article_topic }}</a></p>
            </li>
            {{ /if }}
            {{ /each }}
        </ul>
        {{ /each }}
        {{ else if type == 'article_c' }}
        <h1>{{ belong.class_name }}</h1>
        <span>分类</span>
        <ul>
            {{ each mes }}
            <li>
                <p class="title"><a href="/article/{{ $value.article_id }}" class="archive-mes"><span class="time">{{ $value.article_date }}</span>{{ $value.article_topic }}</a></p>
            </li>
            {{ /each }}
        </ul>
        {{ else if type == 'article_t'}}
        <h1>{{ belong.tag_name }}</h1>
        <span>标签</span>
        <ul>
            {{ each mes }}
            <li>
                <p class="title"><a href="/article/{{ $value.article_id }}" class="archive-mes"><span class="time">{{ $value.article_date }}</span>{{ $value.article_topic }}</a></p>
            </li>
            {{ /each }}
        </ul>
        {{ /if }}
    </div>
    
    {{ if count > 20 }}
            {{ include './page.html' }}
    {{ /if }}

</div>
{{ /block }}