<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/archive.css">
</head>
<body>
    <div>
        <div class="header">
            <div class="header-inner">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/classify">分类(123)</a></li>
                    <li><a href="/archive">归档(123)</a></li>
                    <li><a href="/tag">标签(123)</a></li>
                    <li><a href="/about">关于</a></li>
                </ul>
            </div>
        </div>

        <div class="archive">
            <div class="archive-inner">
                <h1 class="years">2020</h1>
                <ul>
                    <li>
                        <a href="" class="title"><span class="time">09-08</span>123</a>
                    </li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                    <li><a href="" class="title">123</a></li>
                </ul>
            </div>
        </div>

        <div class="footer">

        </div>
    </div>
</body>
</html>