{{ extend './layout.html' }}

{{ block 'head' }}
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/public.css">
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/node_modules/editor.md/css/editormd.css" />
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/editor.md/editormd.min.js"></script>
{{ /block }}

{{ block 'content' }}
<div class="article">
    <div class="article-inner">
        <h1 class="article-topic">{{ topic }}</h1>
        <div class="article-message">
            <span class="time">{{ date }}</span>
            <span class="Class">收录于 <a href="/classify/{{ class_id }}">{{ className }}</a> 分类</span>
            <div class="tag-nav">
                {{ each tags }}
                <a href="/tag/{{ $value.tag_id }}" class="tag">{{ $value.tag_name }}</a>
                {{ /each }}
            </div>
        </div>
        <div class="article-content" id="md">
            {{@ content }}
        </div>
    </div>
</div>
{{ /block }}

{{ block 'etc' }}
<script>
    // 将 html 字符串以 markdown 格式显示
    $('#md').addClass('markdown-body editormd-html-preview')
</script>
{{ /block }}