<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/manage.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div>
        <div class="manage">
            <ul class="management">
                <li><a href="/newArticle">新建文章</a></li>
                <li><a href="/articleOps">文章操作</a></li>
                <li><a href="/recycle">回收站</a></li>
                <li><a href="/personal">个人资料</a></li>
                <li><a href="/statistics">数据统计</a></li>
            </ul>
        </div>
    </div>
</body>
</html>