{{ extend './layout.html'}}

{{ block 'head' }}
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/public.css">
<link rel="stylesheet" href="/css/tag.css">
{{ /block }}

{{ block 'content' }}
<div class="tag">
    <p class="count">共计 {{ count }} 个标签</p>
    {{ each tag t }}
        {{ each size s }}
            {{ if t.tag_id == s.tag_id }}
                {{ if s.count == 1 }}
                    <a href="/tag/{{ t.tag_id }}" class="tips" style="font-size: 14px; color: #999;">{{ t.tag_name }}</a>
                {{ else if s.count == 2 }}
                    <a href="/tag/{{ t.tag_id }}" class="tips" style="font-size: 20px; color: #777;">{{ t.tag_name }}</a>
                {{ else if s.count == 3 }}
                    <a href="/tag/{{ t.tag_id }}" class="tips" style="font-size: 26px; color: #555;">{{ t.tag_name }}</a>
                {{ else }}
                    <a href="/tag/{{ t.tag_id }}" class="tips" style="font-size: 32px; color: #333;">{{ t.tag_name }}</a>
                {{ /if }}
            {{ /if }}
        {{ /each }}
    {{ /each }}
</div>
{{ /block }}